= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg
  =f.hidden_field :form_id, value: @question.form.id

  .row
    .col-sm-10
      .form-group
        %label.inputdefault
          = f.label :name
        = f.text_field :name, :class=>"form_questions_type form-control", :placeholder=>:name
    .col-sm-2
      .form-group
        %label.inputdefault
          = f.label :question_type
        = f.select :question_type, options_for_select([['Text','text'], ['DropDown','dropdown'], ['CheckBoxes (Multi Select)','checkboxes'],['Radio Buttons (Only One Select)','radiobuttons']]),{}, {:class=>"form-control form_questions_type",:data=>{:id=>"#{@question.id}"}}

  .row
    .col-sm-12{:id => "choices_container_#{@question.id}", :class=>"choices_container_#{@question.id}"}

  .col-sm-12.text-center
    .actions
      %br
      = f.submit 'Save', :class=>"btn btn-primary"