%h1.text-center Login
= form_tag login_path, :method => :post do
  .row
    .col-sm-3
    .col-sm-6
      .row
        .form-group
          = text_field :session, :username, :class=>"form-control", :placeholder=>:username
        .form-group
          = password_field :session, :password, :class=>"form-control", :placeholder=>:password
      .text-center
        .actions
          = button_tag 'Login', :class=>"btn btn-primary", :type=>"submit"
    .col-sm-3
    .row
      .col-sm-12
        %br
        .small.text-center
          Dont have user?
          = link_to 'Register Now', '/signup'
