= form_for @choice do |f|
  - if @choice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@choice.errors.count, "error")} prohibited this choice from being saved:"
      %ul
        - @choice.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-sm-12
      .form-group
        %label.inputdefault
          = f.label :name
        = f.text_field :name, :class=>"form-control", :placeholder=>:name

  .col-sm-12.text-center
    .actions
      %br
      = f.submit 'Save', :class=>"btn btn-primary"
