= form_for @user do |f|
  - if @user.errors.any?
    .alert.alert-danger#error_explanation
      %strong= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-sm-6
      .form-group
        %label.inputdefault
          = f.label :username
        = f.text_field :username, :class=>"form-control", :placeholder=>:username

    .col-sm-6
      .form-group
        %label.inputdefault
          = f.label :password
        = f.password_field :password, :class=>"form-control", :placeholder=>:password

    .col-sm-6
      .form-group
        %label.inputdefault
          = f.label :email
        = f.email_field :email, :class=>"form-control", :placeholder=>:email

    .col-sm-6
      .form-group
        %label.inputdefault
          = f.label :gender
        = f.select :gender , [['Male','0'],['Female','1']], {}, {:class=>"form-control"}

    .col-sm-6
      .form-group
        %label.inputdefault
          = f.label :first_name
        = f.text_field :first_name, :class=>"form-control", :placeholder=>:first_name

    .col-sm-6
      .form-group
        %label.inputdefault
          = f.label :last_name
        = f.text_field :last_name, :class=>"form-control", :placeholder=>:last_name

    .col-sm-12.text-center
      .actions
        = f.submit 'Save', :class=>"btn btn-primary"
