.box-header.with-border
  %h1.box-title Listing users
.box-body
  %table.table
    %thead
      %tr
        %th User Name
        %th Email
        %th First Name
        %th Last Name
        %th{:colspan=>3}

    %tbody
      - @users.each do |user|
        %tr
          %td= user.username
          %td= user.email
          %td= user.first_name
          %td= user.last_name
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
