%pre
  = Cowsay.say("Hi", "Cow")
.jumbotron.text-center
  .container
    %a.lang-logo{:href => "/"}
      %img{:src => "#{asset_path('lang-logo.png')}"}/
    %h1 Getting Started with Ruby on Heroku
    %p This is a sample Ruby application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.
    %a.btn.btn-lg.btn-default{:href => "https://devcenter.heroku.com/articles/getting-started-with-ruby", :type => "button"}
      %span.glyphicon.glyphicon-flash
      Getting Started with Ruby
    %a.btn.btn-lg.btn-primary{:href => "https://github.com/heroku/ruby-getting-started", :type => "button"}
      %span.glyphicon.glyphicon-download
      Source on GitHub
.container
  .alert.alert-info.text-center{:role => "alert"}
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the
    %a.alert-link{:href => "https://devcenter.heroku.com/articles/getting-started-with-ruby"} Getting Started with Ruby on Heroku
    tutorial.
  %hr/
  .row
    .col-md-6
      %h3
        %span.glyphicon.glyphicon-info-sign
        How this sample app works
      %ul
        %li
          This app was deployed to Heroku, either using Git or by using
          %a{:href => "https://github.com/heroku/ruby-getting-started"} Heroku Button
          on the repository.
        %li
          When Heroku received the source code, it fetched all the dependencies in the
          = succeed "," do
            %a{:href => "https://github.com/heroku/ruby-getting-started/blob/master/Gemfile"} Gemfile
        %li The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.
        %li
          You can scale your app, manage it, and deploy over
          = succeed "," do
            %a{:href => "https://addons.heroku.com/"} 150 add-on services
    .col-md-6
      %h3
        %span.glyphicon.glyphicon-link
        Next Steps
      %ul
        %li
          If you are following the
          %a{:href => "https://devcenter.heroku.com/articles/getting-started-with-ruby"} Getting Started
          guide, then please head back to the tutorial and follow the next steps!
        %li If you deployed this app by deploying the Heroku Button, then in a command line shell, run:
        %ul
          %li
            %code git clone https://github.com/heroku/ruby-getting-started.git
            \- this will create a local copy of the source code for the app
          %li
            %code cd ruby-getting-started
            \- change directory into the local source code repository
          %li
            %code heroku git:remote -a &lt;your-app-name&gt;
            \- associate the Heroku app with the repository
          %li
            You'll now be set up to run the app locally, or
            %a{:href => "https://devcenter.heroku.com/articles/getting-started-with-ruby#push-local-changes"} deploy changes
            to Heroku
      %h3
        %span.glyphicon.glyphicon-link
        Helpful Links
      %ul
        %li
          %a{:href => "https://www.heroku.com/home"} Heroku
        %li
          %a{:href => "https://devcenter.heroku.com/"} Heroku Dev Center
        %li
          %a{:href => "https://devcenter.heroku.com/articles/getting-started-with-ruby"} Getting Started with Ruby on Heroku
        %li
          %a{:href => "https://devcenter.heroku.com/articles/deploying-ruby-and-rails"} Deploying Ruby Apps on Heroku
        %li
          %a{:href => "https://devcenter.heroku.com/articles/getting-started-with-jruby"} Getting Started with Ruby on Heroku (Microsoft Windows)
  / row
  .alert.alert-info.text-center{:role => "alert"}
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
