= form_for @form do |f|
  - if @form.errors.any?
    .alert.alert-danger#error_explanation
      %strong= "#{pluralize(@form.errors.count, "error")} prohibited this form from being saved:"
      %ul
        - @form.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-sm-12
      .form-group
        %label.inputdefault
          = f.label :name
        = f.text_field :name, :class=>"form-control", :placeholder=>:name
  .row
    .col-sm-12
      .form-group
        %label.inputdefault
          = f.label :desc
        = f.text_area :desc, :class=>"form-control", :placeholder=>:desc

  -if params[:action] == 'new' or params[:action] == 'create'
    .row
      .col-sm-12.text-center
        %label#add_form_question.btn.btn-alert
          Add Question
    %br
    .row
      .col-sm-12#form-questions

  .col-sm-12.text-center
    .actions
      %br
      = f.submit 'Save', :class=>"btn btn-primary"
