%h1 Listing forms

%table.table
  %thead
    %tr
      %th
        Form Name
      %th{:colspan=>3}

  %tbody
    - @forms.each do |form|
      %tr
        %td= form.name
        %td= link_to 'Show', form
        %td= link_to 'Results', "/results/#{form.id}"
        %td= link_to 'Edit', edit_form_path(form)
        %td= link_to 'Destroy', form, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Form', new_form_path
