.alert.alert-success
  .row
    .col-sm-12
      %center
        %h2
          =@form.name
  .row
    .col-sm-12
      %p
        =@form.desc

%form{ :method => 'get' }
  %table.table.table-striped{ @format=='pdf' ? {:width=>'100%',:border=>1 }:{}}
    %thead
      %tr
        %th
          Question
        %th
          Question Type
        %th
          Answer
        %th
          Choice
        - if @format == 'html'
          %th
      - if @format == 'html'
        %tr
          %th
            %select{:name=>'question'}
              %option{:value=>''}
                All Questions
              -@form.questions.each do |question|
                %option{:value=> "#{question.id}", :selected=>params[:question]=="#{question.id}"}
                  =question.name
          %th
            %select{:name=>'question_type'}
              %option{:value=>''}
                All Types
              %option{:value=>'text', :selected=>params[:question_type]=='text'}
                Text
              %option{:value=>'dropdown', :selected=>params[:question_type]=='dropdown'}
                DropDown
              %option{:value=>'checkboxes', :selected=>params[:question_type]=='checkboxes'}
                CheckBoxes (Multi Select)
              %option{:value=>'radiobuttons', :selected=>params[:question_type]=='radiobuttons'}
                Radio Buttons (Only One Select)
          %th
          %th
          %th
            %input{:type=>'submit',:value=>'Search'}
            =link_to 'Print',params.merge(:format=>:pdf), {:target=>'blank'}
    %tbody
      -@answers.each do |form_answer|
        %tr
          %td
            =form_answer.question.name
          %td{ @format=='pdf' ? {:align=>'center'}:{}}
            =form_answer.question.question_type
          %td{ @format=='pdf' ? {:align=>'center'}:{}}
            =form_answer.answer
          %td{ @format=='pdf' ? {:align=>'center'}:{}}
            -if form_answer.choice
              =form_answer.choice.name
            -else
              = '-'
          - if @format == 'html'
            %td

- if @format == 'html'
  = link_to 'Back', forms_path

