%p#notice= notice
.row
  .col-sm-12
    %h3
      =@form.name
  .col-sm-12
    %p
      =@form.desc
  .row
    .col-sm-12
      %table.table
        %tr
          %th{:width=>"60%"} Name
          %th{:width=>"20%"} Type
          %th{:width=>"20%"}
        -@form.questions.each do |question|
          %tr
            %td
              -if question.question_type!='text'
                .panel.panel-default
                  .panel-heading
                    %h4.panel-title
                      %a{:href=>"#collapse#{question.id}",:data=>{"toggle"=>"collapse"}}
                        =question.name
                  .panel-collapse.collapse{:id=>"collapse#{question.id}"}
                    %table.table.panel-body
                      %tr
                        %th
                          Choices
                        %th
                      -question.choices.each do |choice|
                        %tr
                          %td
                            =choice.name
                          %td
                            =link_to 'Edit', edit_choice_path(choice)
                            \|
                            = link_to 'Destroy', choice, :method => :delete, :data => { :confirm => 'Are you sure?' }
              -else
                =question.name
            %td
              =question.question_type
            %td
              =link_to 'Edit', edit_question_path(question)
              \|
              = link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'Results', "/results/#{@form.id}"
\|
= link_to 'Edit', edit_form_path(@form)
\|
= link_to 'Back', forms_path
\|
=link_to 'Add New Question', "/questions/new/#{@form.id}"
%br
%br
%br
.alert.alert-danger
  .text-center
    %strong
      Copy link below and share this form to answer it
    %br
    ="#{request.protocol + request.host}:#{request.port.to_s}/FormQuestions/#{@form.id}"
