%Form{:for=>@form, :action=>"/FormQuestions/#{@form.id}", :method=>"post"}
  %hidden_field{name:"id",value:@form.id}
  %h3
    =@form.name
  %p
    =@form.desc
  %ul
    -@form.questions.each do |question|
      %li
        %label
          =question.name
        .row
          -case question.question_type

            -when 'text'
              .col-sm-12
                .form-group
                  %textarea.form-control#answer{name:"ques_#{question.id}",placeholder:question.name,col:2}

            -when 'checkboxes'
              -question.choices.each do |choice|
                .col-sm-3
                  .checkbox-inline
                    %label
                      %input#checkbox{name:"ques_#{question.id}[]",value:choice.id,type:'checkbox'}
                      =choice.name

            -when 'radiobuttons'
              -question.choices.each do |choice|
                .col-sm-3
                  .radio-inline
                    %label
                      %input{name:"ques_#{question.id}",value:choice.id,type:'radio'}
                      =choice.name

            -when 'dropdown'
              .col-sm-12
                .form-group
                  %select.form-control{name:"ques_#{question.id}"}
                    -question.choices.each do |choice|
                      %option{value:choice.id}
                        =choice.name

            -else
              .col-sm-12

  .col-sm-12.text-center
    .actions
      %br
      %input.btn.btn-primary{type:"submit"}
