// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add_choice, .rem_choice, .add_ques_choice, .rem_ques_choice{
  font-size: 30px;
}
.rem_choice, .rem_ques_choice{
  color: darkred;
}
.add_choice, .add_ques_choice{
  color: darkgreen;
}