!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ruby Getting Started on Heroku
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'
    = csrf_meta_tags
  %body
    - if current_user
      .navbar.navbar-default.navbar-static-top
        .container
          .col-sm-8
            %ul.nav.navbar-nav
              %li{class:controller.controller_name=='welcome' && "active"}
                %a{:href => "/"}
                  %span.glyphicon.glyphicon-home
                  Home
              -#%li{class:controller.controller_name=='users' && "active"}
              -#  %a{:href => "/users"}
              -#    %span.glyphicon.glyphicon-user
              -#    Users
              %li{class:controller.controller_name=='forms' && "active"}
                %a{:href => "/forms"}
                  %span.glyphicon.glyphicon-user
                  Forms
              %li
                %a{:href => logout_url, :data=>{:method=>:delete,:confirm => 'Are you sure you wont to logout?' }}
                  %span.glyphicon.glyphicon-exit
                  Logout
          .col-sm-4
            .text-right
              %h4
                Welcome
                =link_to current_user().username, edit_user_path(current_user)
    .container
      .row
        .col-sm-12.well
          = yield
    %footer
      .well
        .text-center
          %p
            &copy; Mohammad Marouf
            =Date.today.year
      = debug(params) if Rails.env.development?

